
html {
    font-family: "Comic Sans MS", "Comic Sans", Arial, sans-serif;
  }
  
  
  h1, h2 {
    font-family: "Papyrus", cursive;
    color: purple;
  }
  
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    text-align: center;
  }
  
  .nav li {
    display: inline-block;
    margin: 16px;
  }
  
  .nav li a {
    color: black;
    text-decoration: none;
  }
  
 
  .nav li a:hover {
    background-color: #AAA;
    padding: 10px;
  }
  

  footer {
    background-color: #DDD;
    color: #555;
    text-align: center;
    padding: 16px;
  }
  